In [10]:
import os
import pandas as pd

from pandas import isnull

In [4]:
master = pd.read_csv(os.path.join('dataset01', 'Master.csv'))

In [5]:
master.shape

(7761, 31)

In [6]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [7]:
master.head(6)

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN
5,abelcl01,NaN,NaN,Clarence,Abel,NaN,Clarence John,Taffy,73.0,225.0,...,28.0,USA,MI,Sault Ste. Marie,1964.0,8.0,1.0,USA,MI,Sault Ste. Marie

In [8]:
master.tail(6)

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
7755,zuccama01,NaN,NaN,Mats,Zuccarello,NaN,NaN,NaN,67.0,174.0,...,1.0,Norway,NaN,Oslo,NaN,NaN,NaN,NaN,NaN,NaN
7756,zuckeja01,NaN,NaN,Jason,Zucker,NaN,NaN,NaN,71.0,174.0,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7757,zukemi01,NaN,NaN,Mike,Zuke,NaN,Michael Zuke,NaN,72.0,180.0,...,16.0,Canada,ON,Sault Ste. Marie,NaN,NaN,NaN,NaN,NaN,NaN
7758,zukwa01,NaN,NaN,Wayne,Zuk,NaN,Wayne David,NaN,68.0,160.0,...,29.0,Canada,SK,Prince Albert,NaN,NaN,NaN,NaN,NaN,NaN
7759,zunicru01,NaN,NaN,Rudy,Zunich,NaN,Rudolph Ralph (Jr.),NaN,69.0,170.0,...,24.0,USA,MI,Calumet,1974.0,3.0,13.0,NaN,NaN,NaN
7760,zyuzian01,NaN,NaN,Andrei,Zyuzin,NaN,Andrei,NaN,73.0,208.0,...,21.0,Russia,NaN,Ufa,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
master['playerID'].pipe(isnull).value_counts()

False    7520
True      241
Name: playerID, dtype: int64

In [14]:
master_orig = master.copy()

In [15]:
master = master.dropna(subset='playerID')
master.shape

(7520, 31)

In [16]:
master['lastNHL'].pipe(isnull).value_counts()

False    6851
True      669
Name: lastNHL, dtype: int64

In [17]:
master.dropna(subset=['firstNHL', 'lastNHL'], how='all', inplace=True)

In [18]:
master.shape

(6851, 31)

In [19]:
master = master.loc[master['lastNHL'] >= 1980]

In [20]:
master.shape

(4627, 31)

In [21]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [22]:
columns_to_keep = ['playerID', 'firstName', 'lastName', 'pos', 'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState', 'birthCity']

In [24]:
master[columns_to_keep].head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [26]:
master.filter(columns_to_keep).head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [28]:
master = master.filter(regex='(playerID|pos|Name$|^birth)')
master.columns

Index(['playerID', 'firstName', 'lastName', 'pos', 'birthYear', 'birthMon',
       'birthDay', 'birthCountry', 'birthState', 'birthCity'],
      dtype='object')

In [30]:
def memory_usage(df):
    print('{0:.2f} MiB'.format(df.memory_usage().sum() / (1024*1024)))

In [31]:
memory_usage(master)

0.39 MiB

In [32]:
memory_usage(master_orig)

1.84 MiB

In [33]:
master['pos'].value_counts()

D      1418
C      1037
L       848
R       832
G       463
F        28
L/C       1
Name: pos, dtype: int64

In [34]:
pd.Categorical(master['pos'])

['C', 'L', 'L', 'D', 'C', ..., 'R', 'L', 'L', 'C', 'D']
Length: 4627
Categories (7, object): ['C', 'D', 'F', 'G', 'L', 'L/C', 'R']

In [36]:
def make_categorical(df, col_name):
    df.loc[:, col_name] = pd.Categorical(df[col_name])

In [37]:
make_categorical(master, 'pos')

/tmp/ipykernel_9779/772065985.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, col_name] = pd.Categorical(df[col_name])
/tmp/ipykernel_9779/772065985.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, col_name] = pd.Categorical(df[col_name])

In [38]:
pd.__version__

'1.5.0'

In [39]:
master.head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [40]:
memory_usage(master)

0.36 MiB

In [41]:
make_categorical(master, 'birthCountry')
make_categorical(master, 'birthState')

/tmp/ipykernel_9779/772065985.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, col_name] = pd.Categorical(df[col_name])
/tmp/ipykernel_9779/772065985.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, col_name] = pd.Categorical(df[col_name])

In [42]:
memory_usage(master)

0.30 MiB

In [43]:
master.head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [45]:
master.set_index('playerID', inplace=True)
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [46]:
master.to_pickle(os.path.join('dataset01', 'master-pickle'))

## Scoring.csv

In [47]:
scoring = pd.read_csv(os.path.join('dataset01', 'Scoring.csv'))

In [48]:
scoring.shape

(45967, 31)

In [51]:
scoring.sample(5)

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
5177,burkema01,1935,1,CHI,NHL,D,40.0,0.0,3.0,3.0,...,0.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20902,klimape01,1991,1,EDM,NHL,R,57.0,21.0,13.0,34.0,...,4.0,5.0,8.0,-1.0,0.0,1.0,0.0,0.0,0.0,22.0
286,alexeni01,2006,2,CHI,NHL,R,15.0,2.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23587,lemieje01,1976,1,WAS,NHL,D,15.0,4.0,4.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27117,mcdonla01,1979,2,COR,NHL,R,46.0,25.0,20.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [54]:
scoring_orig = scoring.copy()

In [55]:
memory_usage(scoring)

10.87 MiB

In [57]:
scoring = scoring[(scoring['lgID'] == 'NHL') & (scoring['year'] >= 1980)]

In [58]:
memory_usage(scoring)

6.99 MiB

In [60]:
scoring = scoring.filter(regex='^(?!(Post|PP|SH)).*')

In [61]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'GWG', 'GTG', 'SOG'],
      dtype='object')

In [62]:
scoring = scoring.iloc[:, [0, 1, 3, 6, 7, 8 , 9, 14]]
scoring.columns

Index(['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SOG'], dtype='object')

In [63]:
scoring['tmID'].value_counts()

PIT    1166
NYR    1160
TOR    1159
LAK    1158
NYI    1155
BOS    1147
PHI    1133
CAL    1121
WAS    1120
EDM    1120
CHI    1114
STL    1107
VAN    1096
MTL    1082
BUF    1080
DET    1039
NJD     989
TBL     715
SJS     679
OTT     673
FLO     656
DAL     637
HAR     633
WIN     584
QUE     572
PHO     557
COL     548
MNS     507
CAR     464
NAS     463
CBS     423
ANA     422
ATL     410
MIN     384
AND     224
COR      81
WPG      38
Name: tmID, dtype: int64

In [64]:
make_categorical(scoring, 'tmID')

/tmp/ipykernel_9779/772065985.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, col_name] = pd.Categorical(df[col_name])

In [65]:
memory_usage(scoring)

1.78 MiB

In [66]:
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [67]:
scoring.reset_index(drop=True, inplace=True)

In [68]:
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
4  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [69]:
scoring.to_pickle(os.path.join('dataset01', 'scoring.pickle'))

## Teams

In [73]:
teams = pd.read_csv(os.path.join('dataset01', 'Teams.csv'))
teams.shape

(1519, 27)

In [74]:
teams.columns

Index(['year', 'lgID', 'tmID', 'franchID', 'confID', 'divID', 'rank',
       'playoff', 'G', 'W', 'L', 'T', 'OTL', 'Pts', 'SoW', 'SoL', 'GF', 'GA',
       'name', 'PIM', 'BenchMinor', 'PPG', 'PPC', 'SHA', 'PKG', 'PKC', 'SHF'],
      dtype='object')

In [75]:
teams.sample(5)

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
1113,1997,NHL,CHI,CHI,WC,CE,5,NaN,82,30,...,199,Chicago Blackhawks,1546.0,12.0,47.0,364.0,5.0,58.0,381.0,13.0
753,1981,NHL,DET,DET,CC,NO,6,NaN,80,21,...,351,Detroit Red Wings,1250.0,20.0,43.0,257.0,6.0,75.0,284.0,10.0
818,1984,NHL,LAK,LAK,CC,SM,4,DSF,80,34,...,326,Los Angeles Kings,1413.0,26.0,87.0,370.0,13.0,54.0,291.0,9.0
1187,1999,NHL,VAN,VAN,WC,NW,3,NaN,82,30,...,237,Vancouver Canucks,1047.0,22.0,51.0,323.0,7.0,63.0,322.0,9.0
726,1979,NHL,WIN,PHO,CC,SM,5,NaN,80,20,...,314,Winnipeg Jets,1251.0,16.0,63.0,336.0,10.0,63.0,275.0,4.0

In [76]:
memory_usage(teams)

0.31 MiB

In [77]:
teams_orig = teams.copy()

In [78]:
teams = teams[(teams['lgID'] == 'NHL') & (teams['year'] >= 1980)]
teams = teams[['year', 'tmID', 'name']]
memory_usage(teams)

0.02 MiB

In [79]:
teams.nunique()

year    31
tmID    37
name    37
dtype: int64

In [80]:
make_categorical(teams, 'tmID')

/tmp/ipykernel_9779/772065985.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, col_name] = pd.Categorical(df[col_name])

In [81]:
teams.to_pickle(os.path.join('dataset01', 'teams.pickle'))

## Team Splits

In [82]:
team_splits = pd.read_csv(os.path.join('dataset01', 'TeamSplits.csv'))
team_splits.shape

(1519, 43)

In [83]:
memory_usage(team_splits)

0.50 MiB

In [84]:
team_splits_orig = team_splits.copy()

In [85]:
team_splits.columns

Index(['year', 'lgID', 'tmID', 'hW', 'hL', 'hT', 'hOTL', 'rW', 'rL', 'rT',
       'rOTL', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL', 'OctT',
       'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL', 'DecT',
       'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL', 'FebT',
       'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL', 'AprT',
       'AprOL'],
      dtype='object')

In [86]:
team_splits = team_splits[(team_splits['lgID'] == 'NHL') & (team_splits['year'] >= 1980)]

In [87]:
cols_to_drop = team_splits.columns[3:11]

In [88]:
cols_to_drop

Index(['hW', 'hL', 'hT', 'hOTL', 'rW', 'rL', 'rT', 'rOTL'], dtype='object')

In [89]:
team_splits.drop(columns=cols_to_drop, inplace=True)
team_splits.columns

Index(['year', 'lgID', 'tmID', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL',
       'OctT', 'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL',
       'DecT', 'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL',
       'FebT', 'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL',
       'AprT', 'AprOL'],
      dtype='object')

In [90]:
team_splits.drop(columns='lgID', inplace=True)

In [91]:
make_categorical(team_splits, 'tmID')

/tmp/ipykernel_9779/772065985.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, col_name] = pd.Categorical(df[col_name])

In [92]:
team_splits.to_pickle(os.path.join('dataset01', 'team_splits.pickle'))