In [2]:
import os
import pandas as pd

In [3]:
master = pd.read_pickle(os.path.join('dataset01', 'master-pickle'))
team_splits = pd.read_pickle(os.path.join('dataset01', 'team_splits_mi.pickle'))

In [4]:
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [7]:
master = master.assign(birthDate = pd.to_datetime({
    'year': master.birthYear,
    'month': master.birthMon,
    'day': master.birthDay
}))

master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,birthDate
playerID,,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1975-03-04
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,1987-02-25
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal,1980-03-24
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand,1947-04-12
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville,1958-04-15

In [8]:
master.dtypes

firstName               object
lastName                object
pos                   category
birthYear              float64
birthMon               float64
birthDay               float64
birthCountry          category
birthState            category
birthCity               object
birthDate       datetime64[ns]
dtype: object

In [9]:
master.drop(columns=['birthYear', 'birthMon', 'birthDay'], inplace=True)

In [10]:
master.head()

,firstName,lastName,pos,birthCountry,birthState,birthCity,birthDate
playerID,,,,,,,
aaltoan01,Antti,Aalto,C,Finland,NaN,Lappeenranta,1975-03-04
abdelju01,Justin,Abdelkader,L,USA,MI,Muskegon,1987-02-25
abidra01,Ramzi,Abid,L,Canada,QC,Montreal,1980-03-24
abrahth01,Thommy,Abrahamsson,D,Sweden,NaN,Leksand,1947-04-12
actonke01,Keith,Acton,C,Canada,ON,Stouffville,1958-04-15

In [11]:
master.birthDate.head()

playerID
aaltoan01   1975-03-04
abdelju01   1987-02-25
abidra01    1980-03-24
abrahth01   1947-04-12
actonke01   1958-04-15
Name: birthDate, dtype: datetime64[ns]

In [12]:
master.birthDate[0]

Timestamp('1975-03-04 00:00:00')

In [13]:
ts = master.birthDate[0]

In [14]:
print('{}, {} {} {}'.format(ts.day_name(), ts.day, ts.month_name(), ts.year))

Tuesday, 4 March 1975

In [16]:
f'{ts:%a %Y %d}'

'Tue 1975 04'

In [17]:
tsz = ts.tz_localize('America/Toronto')
tsz

Timestamp('1975-03-04 00:00:00-0500', tz='America/Toronto')

In [18]:
tsz.tz_convert('Europe/London')

Timestamp('1975-03-04 05:00:00+0000', tz='Europe/London')

In [19]:
years = master.birthDate.dt.year
years.head()

playerID
aaltoan01    1975
abdelju01    1987
abidra01     1980
abrahth01    1947
actonke01    1958
Name: birthDate, dtype: int64

In [20]:
strings = master.birthDate.dt.strftime('%Y-%d-%Y-%a')
strings.head()

playerID
aaltoan01    1975-04-1975-Tue
abdelju01    1987-25-1987-Wed
abidra01     1980-24-1980-Mon
abrahth01    1947-12-1947-Sat
actonke01    1958-15-1958-Tue
Name: birthDate, dtype: object

In [21]:
strings = master.birthDate.dt.strftime('%m-%d-%Y')
strings.head()

playerID
aaltoan01    03-04-1975
abdelju01    02-25-1987
abidra01     03-24-1980
abrahth01    04-12-1947
actonke01    04-15-1958
Name: birthDate, dtype: object

In [22]:
dates = pd.to_datetime(strings)
dates.head()

playerID
aaltoan01   1975-03-04
abdelju01   1987-02-25
abidra01    1980-03-24
abrahth01   1947-04-12
actonke01   1958-04-15
Name: birthDate, dtype: datetime64[ns]

In [23]:
strings = strings.str.replace('-', 'xx')
strings.head()

playerID
aaltoan01    03xx04xx1975
abdelju01    02xx25xx1987
abidra01     03xx24xx1980
abrahth01    04xx12xx1947
actonke01    04xx15xx1958
Name: birthDate, dtype: object

In [25]:
parsed = pd.to_datetime(strings, format='%mxx%dxx%Y')
parsed

playerID
aaltoan01   1975-03-04
abdelju01   1987-02-25
abidra01    1980-03-24
abrahth01   1947-04-12
actonke01   1958-04-15
               ...
zubruda01   1978-06-16
zuccama01   1987-09-01
zuckeja01   1992-01-16
zukemi01    1954-04-16
zyuzian01   1978-01-21
Name: birthDate, Length: 4627, dtype: datetime64[ns]

In [27]:
strings_error = strings.copy()
strings_error.iloc[34] = 'xx123'

In [29]:
parsed = pd.to_datetime(strings_error, format='%mxx%dxx%Y', errors='coerce')

In [31]:
parsed.iloc[34]

NaT

In [32]:
parsed = pd.to_datetime(strings_error, format='%mxx%dxx%Y', errors='ignore')
parsed.iloc[34]

'xx123'

In [33]:
birth_dates = pd.Series(master.index, index=master.birthDate)
birth_dates.head()

birthDate
1975-03-04    aaltoan01
1987-02-25    abdelju01
1980-03-24     abidra01
1947-04-12    abrahth01
1958-04-15    actonke01
Name: playerID, dtype: object

In [34]:
birth_dates = birth_dates.sort_index()
birth_dates.head()

birthDate
1940-01-27    harpete01
1940-03-22     keonda01
1940-10-03    ratelje01
1942-02-20    esposph01
1943-04-23    esposto01
Name: playerID, dtype: object

In [35]:
born_1980 = birth_dates['1980']
born_1980.head()

birthDate
1980-01-02    zalesmi01
1980-01-10    stanara01
1980-01-13    bouckty01
1980-01-13     ruppmi01
1980-01-15    papinju01
Name: playerID, dtype: object

In [36]:
born_1980 = birth_dates['1980-07']
born_1980.head()

birthDate
1980-07-03    miettan01
1980-07-05    huntetr01
1980-07-08    chouier01
1980-07-15    cheecjo01
1980-07-17    millery01
Name: playerID, dtype: object

In [38]:
born_1980 = birth_dates['1980-07-24']
born_1980

birthDate
1980-07-24    jillsje01
1980-07-24    printda01
Name: playerID, dtype: object

In [39]:
born_1980 = birth_dates['1980-07-20':'1980-07-31']
born_1980

birthDate
1980-07-20    arsende01
1980-07-22    kalindm01
1980-07-24    jillsje01
1980-07-24    printda01
1980-07-31    fischji01
Name: playerID, dtype: object

In [40]:
diff = birth_dates.index[1] - birth_dates.index[0]
diff

Timedelta('55 days 00:00:00')

In [41]:
birth_dates.index[10]

Timestamp('1945-09-08 00:00:00')

In [42]:
birth_dates.index[10] + diff

Timestamp('1945-11-02 00:00:00')

In [43]:
diff

Timedelta('55 days 00:00:00')

In [44]:
diff.components

Components(days=55, hours=0, minutes=0, seconds=0, milliseconds=0, microseconds=0, nanoseconds=0)

In [46]:
diff = diff + '5H' - '10M'
diff

/tmp/ipykernel_31175/4221292166.py:1: FutureWarning: Units 'M', 'Y' and 'y' do not represent unambiguous timedelta values and will be removed in a future version.
  diff = diff + '5H' - '10M'

Timedelta('55 days 04:50:00')

In [47]:
diff.components

Components(days=55, hours=4, minutes=50, seconds=0, milliseconds=0, microseconds=0, nanoseconds=0)

In [48]:
diff.round('10D')

Timedelta('60 days 00:00:00')

In [50]:
diff.round('1H')

Timedelta('55 days 05:00:00')